<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Alta moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="altaMoto">
    <ion-row class="ion-justify-content-center">
      <ion-button size="large" shape="round" (click)="takePicture()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <ion-input required type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
    </ion-row>   

    <ion-item>
      <ion-label position="fixed">Marca</ion-label>
      <ion-input required formControlName="marca"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Modelo</ion-label>
      <ion-input required formControlName="modelo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Año</ion-label>
      <ion-input required formControlName="year" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Precio</ion-label>
      <ion-input required formControlName="precio" type="number"></ion-input>
    </ion-item>
    
    <ion-button type="submit" [disabled]="altaMoto.invalid" (click)="saveMoto()" expand="block">Guardar</ion-button>
  </form>
</ion-content>
