<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Motos</ion-list-header>
          <ion-note>Filtros</ion-note>

          <ion-item routerLink="/motos/marca/ducati" (click)="menuController.close()">
            <ion-thumbnail slot="start"
              ><ion-img src="/assets/ducati.png"></ion-img
            ></ion-thumbnail>
            <ion-label>Ducati</ion-label>
          </ion-item>
          <ion-item routerLink="/motos/marca/yamaha" (click)="menuController.close()">
            <ion-thumbnail slot="start"
              ><ion-img src="/assets/yamaha.png"></ion-img
            ></ion-thumbnail>
            <ion-label>Yamaha</ion-label>
          </ion-item>
          <ion-item routerLink="/motos/marca/honda" (click)="menuController.close()">
            <ion-thumbnail slot="start"
              ><ion-img src="/assets/honda.png"></ion-img
            ></ion-thumbnail>
            <ion-label>Honda</ion-label>
          </ion-item>
          <ion-item routerLink="/motos" (click)="menuController.close()">
            <ion-label>Todas</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
