<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{moto?.marca}} {{moto?.modelo}}</ion-card-subtitle>
      <ion-card-title>{{moto?.marca}} {{moto?.modelo}}</ion-card-title>
    </ion-card-header>
    <img [src]="moto?.foto" />
    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur reiciendis incidunt optio dolorem iste aperiam dolore sapiente eaque, quos eligendi odio, itaque molestias reprehenderit repellat ipsa molestiae consequatur necessitatibus ipsum.
    <ion-button color="warning" (click)="deleteMoto()">Eliminar moto</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

